@page "/products"

<section id="">
    <div class="container">
        <h1>Цветы</h1>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Prise</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var flow in result)
                {
                    <tr>
                        <th scope="row">@flow.ProductId</th>
                        <td>@flow.ProductName</td>
                        <td>@flow.Description</td>
                        <td>@flow.Price</td>
                        
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>


@code {
    public class Product
    {
        public int ProductId { get; set; }

        public string ProductName { get; set; } = null!;

        public string? Description { get; set; }

        public decimal Price { get; set; }

        public int StockQuantity { get; set; }

        public int? CategoryId { get; set; }

        public int? DiscountId { get; set; }
    }

    public Product[] result = new Product[] { };


    protected override async Task OnInitializedAsync()
    {
        var client = new HttpClient();

        client.BaseAddress = new Uri("https://webapi-jgf2.onrender.com/");
       
        result = await client.GetFromJsonAsync<Product[]>("api/Products");

        return;
    }











}